@model Product
@{
    ViewData["Title"] = Model.Name;
}

<div class="row justify-content-center">
    @if (Model is not null)
    {
        <div class="col-3 mb-3">
            <div class="card h-100">
                <img class="card-img-top" src="@Model.PhotoPath" alt="@Model.Name">
                <div class="card-body text-center">
                    <h4>@Model.Name</h4>
                    <h2 class="text-danger">@Model.Cost</h2>

                    <a class="btn btn-success"
                       asp-controller="Cart"
                       asp-action="Add"
                       asp-route-productId="@Model.Id">
                        Добавить в корзину
                    </a>
                    <a class="btn btn-outline-secondary mt-3"
                       asp-controller="Favorite"
                       asp-action="Add"
                       asp-route-productId="@Model.Id">
                        Добавить в избранное
                    </a>
                </div>
            </div>
        </div>
        <div class="col-6 mb-3">
            <div class="card h-100">
                <div class="card-body">
                    <h6>@Model.Description</h6>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col-auto m-5">Такого товар не существует</div>
    }
</div>
<div class="row justify-content-center">
    <div class="col-auto m-5">
        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-success">Продолжить покупки</a>
    </div>
</div>
