@model User
@{
    ViewData["Title"] = "Добавление пользователя";
}

<div class="text-center text-uppercase text-success mb-5 mt-5">
    <h2 class="row-title">Добавить нового пользователя</h2>
</div>

<form method="post">
    <div class="row justify-content-center mt-3">
        <div class="col-6 mb-3">
            <div class="text-danger fw-bold text-uppercase" asp-validation-summary="All"></div>
            <p>
                <label class="form-label" asp-for="@Model.FirstName"></label><br />
                <input class="form-control" asp-for="@Model.FirstName" />
                <span asp-validation-for="@Model.FirstName"></span>

            </p>
            <p>
                <label class="form-label" asp-for="@Model.LastName"></label><br />
                <input class="form-control" asp-for="@Model.LastName" />
                <span asp-validation-for="@Model.LastName"></span>

            </p>
            <p>
                <label class="form-label" asp-for="@Model.Phone"></label><br />
                <input class="form-control" asp-for="@Model.Phone" />
                <span asp-validation-for="@Model.Phone"></span>
            </p>
            <p>
                <label class="form-label" asp-for="@Model.Login"></label><br />
                <input class="form-control" asp-for="@Model.Login" />
                <span asp-validation-for="@Model.Login"></span>
            </p>
            <p>
                <label class="form-label" asp-for="@Model.Password"></label><br />
                <input class="form-control" asp-for="@Model.Password" />
                <span asp-validation-for="@Model.Password"></span>
            </p>
        </div>
    </div>
    <div class="text-center m-3">
        <button class="btn btn-outline-success" type="submit">
            Добавить
        </button>
    </div>
</form>